@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
}

/* ---------------------------------- Index Page --------------------------------------- */

.heading{
  position: relative;
  text-align: center;
  /* margin-top: 15%; */
  padding-top: 15%;
  font-size: 5em;
  font-weight: 500;
  color: #737373;
  font-family: 'Times New Roman', Times, serif;
}

.sub-heading{
  position: relative;
  text-align: center;
  margin-top: 5%;
  font-size: 2.5rem;
  font-weight: 400;
  color: #2d73de;
}

.title{
  position: relative;
  text-align: center;
  margin-top: 20%;
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}

.hr-login-pg{
  position: relative;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

.login-btns{
  position: relative;
  margin-top: 20%;
}
.login-btn{
  position: relative;
  text-decoration:none;
  background-color: #004aad!important;
  color: white!important;
  display: block!important;
  width: 60%;
}

.reg-btn{
  position: relative;
  text-decoration: none!important;
  background-color: #d9d9d9!important;
  color: #004aad!important;
  display: block!important;
  width: 60%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.watermark {
  /* Used to position the watermark */
  position: absolute;
   /* Center the content */
   align-items: center;
   display: flex;
   justify-content: center;
 
   /* Take full size */
   height: 100%;
   width: 100%;
   z-index: -1;
}

/* ---------------------------------- Login Page --------------------------------------- */

.login-pg-title{
  text-align: center;
  padding-top: 40%;
  font-weight: 700;
  font-size: 2rem;
}

.login-form{
  padding-top: 10%;
}

.login-btn-login-pg{
  margin-top: 60px;
  margin-left: 20%;
  position: relative;
  text-decoration:none;
  background-color: #004aad!important;
  color: white!important;
  display: block!important;
  width: 60%;
}

.inp-fld-1, .inp-fld-2{
  margin-top: 6%;
}

.para-text{
  text-align: center;
  margin-top: 35px;
}

/* ---------------------------------- Register Page --------------------------------------- */

.reg-form{
  padding-top: 5%;
}

.reg-pg-title{
  text-align: center;
  padding-top: 15%;
  font-weight: 700;
  font-size: 2rem;
}

.inp-fld-reg-1, .inp-fld-reg-2{
  margin-top: 2%;
}

.toast{
  z-index: 100;
}

.navbar{
  background-color: #004aad;
}

.navbar-brand{
  color: white!important;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 0%;
  font-family: 'Ubuntu', sans-serif;
  /* border: 2px solid black; */
  border-radius: 14px;
  padding-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(215, 215, 215);
}

.profile-sm{
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  /* border: 2px solid black; */
  border-radius: 14px;
  padding-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(215, 215, 215);
}

.username{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 700;
}

.uid{
  margin-left: 25px;
  color: #737373;
}

.balanceInfo{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  display: flex;
  border: 2px solid #737373;
  background-color: #737373;
  border-radius: 32px;
  color: white;
}

.balanceInfo-sm{
  margin-top: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  display: flex;
  border: 2px solid #737373;
  background-color: #737373;
  border-radius: 32px;
  color: white;
}

.balance{
  font-size: 18px;
  margin-bottom: 0%;
  padding-left: 12px;
}

.balanceValue{
  margin-bottom: 0%;
  padding-right: 12px;
}

.idInfo{
  display: flex;
  color: #737373;
}

.idInfoSm{
  display: flex;
  color: #737373;
}

.userInfoSm {
  display: flex;
  justify-content: space-between;
}

.add-bal-btn{
  position: relative;
  margin-top: 8px;
  padding-left: 22px!important;
  padding-right: 22px!important;
}
.addBal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bal-pg-title{
  margin-top: 20%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.latest-ticket{
  font-size: 22px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 0%;
  font-family: 'Ubuntu', sans-serif;
  /* border: 2px solid black; */
  border-radius: 14px;
  padding-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(215, 215, 215);
}

.ticket-details{
  margin-left: 25px;
  margin-top: 0.5px;
}

.ticket-details-date{
  padding-top: 18px;
  display: flex;
}

.latest-ticket-heading{
  margin-top: 22px;
  text-align: center;
}

.book-ticket-btn{
  position: relative;
  text-decoration:none;
  color: white!important;
  display: block!important;
  width: 250px;
  font-size: 26px!important;
}

.your-ticket-btn{
  position: relative;
  text-decoration:none;
  background-color: #004aad!important;
  color: white!important;
  display: block!important;
  width: 250px;
  font-size: 26px!important;
}

.end-buttons-1 {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

.end-buttons-2 {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

/* .bus-stop-selection{
  align-items: center;
  justify-content: center;
}

.bus-stop-selection_from{
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bus-stop-selection_to{
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bus-stop-selection_1{
  margin-bottom: 12px;
} */

.bus-options{
  font-size: 18px;
}